
.wrapper {
    width: 98%
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding: 1em;
    width: 100%;
    display:flex;
    flex-direction: row;
    background-color: #b2bfa7;
}

.logo {

    padding: 4em;
}

.mainarticle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageside {
    display: flex;
    flex-direction:row;
}


.divider {
    width: 9em;
}

.thirtypercentdiv { 
    width: 30%;
}

.seventypercentdiv {
    width: 70%;
}


.footerlinks {
    margin-top: 0.75em;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #f2efc7;
}


 h2, h3 {
    font-family: ‘Alfa Slab One’, cursive;
    border-bottom: 1px #284a57 solid;

}

p {
    font-family: ‘Gentium Book Basic’, serif;
    padding: 0.5em;
}

li {
    padding: 0.25em;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
}

nav {
    flex-direction: row;
    display: flex;
    width: 100%;
    padding: 3em;
    flex-wrap: wrap;
    background-color: black;
}




.button {
    border: #B26361 solid .1em;
    border-radius: 18px;
    background-color: #DAAF2C;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    margin: 6.5em 2.5em;
    flex: 3;
    
}

a {
    color: #61606E;
    text-decoration: none;
}

a:hover {
    color: #e76f51;
}



/* Do not edit bellow this line, footer code. */
footer {

    width: 100%;
    margin-left: auto;
    margin-top: 6em;
    height: 6em;
    margin-right: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.up1em {
    margin-top: -1em;
}

.footer {
    width: 70%;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #e76f51;
    border-radius: 150px;
    border: 3px solid #734d26;
    flex-direction: column;
    
    
}



.ficon {
    padding: 10px;
    font-size: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    
  }

.ficon img {
    width:1.5em;
    height: 1.5em;
}
  
 
.ficon:hover {
    opacity: 0.7;
  }
  
