
/* BODY NEWSFEED START */

body {
    background-color: #f2efc7;
}

.firstheading, h2 {
    font-family: 'Alfa Slab One', cursive;
    font: black;
}

.firstheading {
    text-align: center;
    font-size: 4em;
   
}
a {
    text-decoration: none;
    
}

a:link {
    color: black;
    }
    a:visited {
    color: #e76f51;
    }
    a:hover {
    color: #e76f51;
    }
h2 {
    text-align: left;
    position: relative;
    top: 20px;
    
}
p {
    font-family: ‘Gentium Book Basic’, serif;
    padding-left: .7em;
}

.content {
    display: flex;
    flex-direction: column;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}
article {
   display: flex;
   flex-direction: row;
   border: .2em solid #e76f51;
   padding: .6em;
   text-align: left;
   line-height: 1.3em;
   text-indent: 2em;
}

/* BODY ------ END */

/*Footer CSS Start */





/*Footer CSS End */
